body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
thead, tfoot{
    background-color: rgb(65, 64, 64);
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(65, 64, 64);
}
td.num{
    text-align: right;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}
tbody > tr:nth-child(2n){ /*pode usar "even"(par)*/
    background-color: lightgray;
}
tbody > tr:nth-child(2n-1){ /*pode usar "odd"(impar)*/
    background-color: white;
}
